<!doctype html>
<html>
  <base href="/" />
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>shaun mccormick by splittingred</title>

    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>

        <h2 class="name"><a href="/">shaun mccormick</a></h2>
        <p class="tagline">programming and software architecture</p>

        <ul class="social">
        <li><a href="http://splittingred.s3.amazonaws.com/resume.pdf">resume</a> (in <a href="https://github.com/splittingred/resume">gem form</a>)</li>
        <li><a href="http://linkedin.com/in/splittingred">linkedin</a></li>
        <li><a href="https://github.com/splittingred">github</a></li>
        <li><a href="http://twitter.com/splittingred">@splittingred</a></li>
        </ul>

        <!--
        <h3>Categories</h3>
        <ul class="tags">
          <% blog.tags.each do |tag, articles| %>
            <li><a href="tags/<%= tag %>"><%= tag %></a></li>
          <% end %>
        </ul>
        -->
      </header>
        <%= yield %>

      <footer>
        <p>&copy; 2010-2013 shaun mccormick. all rights reserved.</p>
      </footer>
    </div>
    <script src="assets/js/scale.fix.js"></script>

  </body>
</html>