---
title: Portfolio
layout: layout
---
<section>
<h1>Portfolio</h1>

<p>This is a small, work-in-progress sample of some of the work I have done over the years. For more details on my work,
please see either my <a href="http://splittingred.s3.amazonaws.com/resume.pdf">resume</a> or my
  <a href="http://linkedin.com/in/splittingred">LinkedIn</a> page.</p>

  <h2>Companies and Professional Projects</h2>

  <div class="card center-text">
    <a href="/portfolio/siphonlabs">
      <%= image_tag 'portfolio/sl-avatar.png', :width => '120', :class => 'avatar' %>
      <span class="info">SiphonLabs <br />&amp; MODX Cloud</span>
    </a>
  </div>

  <div class="card center-text">
    <a href="/portfolio/modx">
      <%= image_tag 'portfolio/modx.png', :width => '120', :class => 'avatar' %>
      <span class="info">MODX</span>
    </a>
  </div>

  <div class="card center-text">
    <a href="/portfolio/ltc">
      <%= image_tag 'portfolio/ltc-avatar.png', :width => '120', :class => 'avatar' %>
      <span class="info">LTC</span>
    </a>
  </div>

  <br class="clear">
  <br class="clear">
  <br class="clear">
  <h2>Hobbies</h2>

<div class="card center-text">
  <a href="/portfolio/kag-gather">
    <%= image_tag 'portfolio/kag-gather-avatar.png', :width => '120', :class => 'avatar' %>
    <span class="info">KAG Gather</span>
  </a>
</div>
</section>