
<section>
<p style="font-size:.8em;"><a href="/portfolio">&lt;- portfolio</a></p>

  <h1>KAG Gather</h1>
<%= image_tag 'portfolio/kag-gather-ss.png', :width => '500', :class => 'avatar' %>


  <p>KAG, or <a href="http://kag2d.com/">King Arthur's Gold</a>, is an indie build-and-attack game. Within the KAG
  community there was a group that wanted to play less "public" matches and more of a randomly-generated competitive
  game. <a href="http://gather.splittingred.com">KAG Gather</a> was made to meet that need, and I built the system
  that ran it as a hobby.</p>

  <p>The system runs as an IRC bot, in which players add to the queue, and when the queue is full, the system "creates"
  a match of score-balanced players to compete against each other. It uses TCP sockets to communicate with the KAG
  dedicated server, controlling the match flow through remote admin commands. KAG Gather also has a deep statistics
  and achievements system, as well as a complex user and clan ranking algorithm that allows for competitive and
  measurable play.</p>

  <p>The project was also open-sourced, of which the repository and code <a href="https://github.com/splittingred/kag-gather">can be seen here</a>.</p>

  <p>KAG Gather was built with the following tech:</p>

  <ul>
    <li>Ruby</li>
    <li>ActiveRecord</li>
    <li>jQuery/JavaScript</li>
    <li>CSS</li>
    <li>Cinch</li>
    <li>Celluoid</li>
    <li>Sinatra</li>
    <li>MySQL</li>
    <li>TCPSocket</li>
  </ul>


</section>