
<section>
<p style="font-size:.8em;"><a href="/portfolio">&lt;- portfolio</a></p>

  <h1>LTC at the College of Education at UT-Austin</h1>
<%= image_tag 'portfolio/ltc-ss.png', :width => '500', :class => 'avatar' %>

  <p>I worked 4 1/2 years at the <a href="www.edb.utexas.edu/education/">College of Education at UT-Austin</a>,
  specifically the <a href="http://www.edb.utexas.edu/education/centers/ltc/">Learning Technology Center</a>, as the
  Lead Applications Developer for the center. The LTC supports the College of Education by providing tech equipment
  and consulting, as well as heads up its application development and website management.</p>

  <p>While there, I led a team of programmers to build a suite of applications, called iLTC, that helped run the
  department. Architecting it in PHP and PDO, with ExtJS for the front-end JavaScript framework, it was comprised of
  the following applications:</p>
  <ul>
    <li>A online Reservation system and management tool, with full scheduling and conflict resolution</li>
    <li>Customizable inventory system for the LTC's large inventories</li>
    <li>Internal employee scheduling system for arranging shifts for the LTC's many student employees</li>
    <li>Internal timeclock system for student employees to check in and out of work from, including timesheet integration</li>
    <li>User and authentication system for the suite, called "Fred"</li>
    <li>Installation and configuration tool for the suite</li>
    <li>A few other work in progress applications, such as a budgeting system and registration system</li>
  </ul>

  <p>During my time there, I built with the following tech:</p>

  <ul>
    <li>PHP</li>
    <li>ColdFusion</li>
    <li>MySQL</li>
    <li>ExtJS/jQuery/JavaScript</li>
    <li>CSS</li>
  </ul>


</section>